.selectedPage {
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #935c15;
}

.page {
    cursor: pointer;
    margin: 5px;
}

.paginator {
    margin-top: 3px;
}

.btn {
    cursor: pointer;
    margin: 5px;
    border-radius: 50%;
    font-weight: bold;
}