.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
    font-weight: bold;
}

.formLevelError {
    border: 2px red solid;
    padding: 5px;
    color: red;
}